<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tic Tac Toe</title>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    
    {% block extra_css %}{% endblock %}
</head>
<body>

    <header>
        <nav>
            <h2>Tic Tac Toe</h2>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; Tic Tac Toe | Lakshay</p>
    </footer>

    {% block extra_js %}{% endblock %}
</body>
</html>
